 * {
     background-color: transparent;
 }

 .mapContainer {
     height: calc(96vh + -130px);
     /* height: 80vh; */
     background-color: transparent;
     margin: 8px 0px 8px 0px;
 }

 .marker-image {
     text-align: center;
     display: flex;
     position: relative;
     cursor: pointer;
     perspective: 800px;
     margin: 0;
     padding: 0;
 }

 .marker-image img {
     position: absolute;
     height: 55px;

 }

 /* .marker-image:hover img {} */

 .marker-image .details {
     width: 160px;
     height: auto;
     padding: 7px;
     padding-top: 12px;
     padding-bottom: 0px;
     position: fixed;
     border-radius: 0.8rem;
     align-items: center;
     content: "";
     top: 135px;
     left: 100%;
     transform: translate(-50%, -50%) rotateY(90deg);
     transform-origin: 50%;
     background: rgb(244, 176, 176);
     transition: all 0.07s ease-in;
 }

 .marker-image:hover .details {
     transition-delay: 0.01s;
     transform: translate(-37%, -55%) rotateY(0deg);
     opacity: 1;
 }

 .containerIcon {
     align-items: center;

 }

 .block {
     align-items: center;

 }

 .loc-name {
     font-size: 14px;
     font-weight: bold;
 }

 .loc-add {
     font-size: 12px;
 }

 .lockOrUnlocked {
     background-image: url("Images/locked.png");
     background-repeat: no-repeat;
     background-size: contain;
     height: 35px;
     width: 20px;
     margin: auto;
 }
