 *{
  background-color: #fcbc9c;
 }
 .cardFull{
  background-color: #fcbc9c;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  align-items: center;
  justify-content: between;
}

.countries{
  background-color: #fcbc9c;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
    line-height: 50%;

  }

.cardBody{
  background-color: #f9ebe4;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: between;
  line-height: normal;
  overflow-y: scroll;
}
.theCard{
  background-color: #f9ebe4;
  border-radius: 2rem;
  margin: 10px;
  height: 390px;
  overflow: hidden;
  padding-bottom: 1px;
  align-items: end;
  justify-content: end;
}

.theCard > *{
  background-color: #f9ebe4;
}

/* .cardBody > b{
  margin:3px;
  height: 10px;
} */
.form input{
  background-color: #f9ebe4;
    padding: 15px;
    font-size: 25px;
    color: black;
  }

  .cardText{
    background-color: #f9ebe4;
    margin: 15px 12px;
    font-size: 16px;
    
  }

  .cardTitle{
    border-bottom: 2px;
    background-color: #f9ebe4;
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  b{
    background-color: #f9ebe4;
  }

  .cardImg{
    opacity: 0.5;
  }