 .cardFull{
  background-color: #fcbc9c;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

.countries{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    column-gap: 10px;
    line-height: 50%;
  }

.cardBody{
  height: 300px;
  align-items: center;
  line-height: normal;
}

/* .cardBody > b{
  margin:3px;
  height: 10px;
} */
.form input{
    padding: 15px;
    font-size: 25px;
    color: black;
  }

  .cardText{
    margin: 10px 5px;
    font-size: 20px;
  }

  .cardTitle{
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
  }

  .cardImg{
    opacity: 0.5;
  }